<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/app.css">
    
    <link rel="shortcut icon" href="#" />
    <title>SkyeCamp</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <main class="all-page">
      <%- include('../partials/flash') %>
        <%- body %>
    </main>
    <%- include('../partials/footers') %>


    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <script src="/bootstrap/js/bootstrap.bundle.js"></script>

    <script src="/javaScript/validateForm.js"></script>

</body>
</html>
