body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

#cluster-map {
    width: 100%;
    height: 500px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#map {
    width: 100%;
    height: 300px;
}

.wrap{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 2%;
    justify-content: center;
}
.camp{
    display: flex;
    flex-direction: column;
    /* border: 5px solid blue; */
    border-radius: 10px;
    margin-bottom: 10px;
}

.camp-img-container{
    width: 500px;
    height: 300px;
    
    /* box-sizing: content-box; */
}
.camp-img{
   min-width: 100%;
   max-height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

.camp-info{
    width: 400px;
}